@media all and (max-width:1000px){
    .main-section h1 {
        font-size: 40px;
    }

    .main-section h3 {
        font-size: 20px;
    }
    
    .btn {
        width: 30%;
    }

    .comment-section textarea {
        width: 60%;
    }

    .photos img {
        width: 40%;
    }
}

@media all and (max-width:670px){
    .header-left {
        font-size: 15px;
        padding: 12px 10px;
    }

    .header-btn {
        font-size: 10px;
    }

    .main-section h1 {
        font-size: 28px;
    }

    .main-section h3 {
        font-size: 18px;
    }

    .btn {
        width: 100%;
    }

    .section-title h2 {
        font-size: 27px;
    }

    .photos img {
        width: 100%;
    }

    .comment-section p {
        font-size: 20px;
    }

    .comment-section textarea {
        width: 100%;
    }

    .send {
        width: 100%;
    }

    footer {
        height: 350px;
    }

    .columns {
        text-align: left;
    }
    
    .column-lists {
        padding-left: 12%
    }

    .columns h1 {
        float: none;
        font-size: 25px;
        padding: 0px;
        padding-top: 30px;
    }

    .column1 {
        padding-top: 10px;
    }

    .column1 li {
        padding-left: 25px;
    }

    .column2 li {
        padding-left: 60px;
    }

    .header-right {
        display: none;
    }

    .menu {
        margin: 14px 0px;
        float: right;
        display: block;
        font-size: 20px;
    }
}